* {
  margin: 0;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
}
body {
  font-family: "Source Serif 4", serif;
  background: hsl(0, 0%, 100%);
  color: #222;
  line-height: 1.6;
}
.container {
  max-width: 1400px; /*this will make content centered and nothing will touches edges*/
  margin: auto;
  padding: 0 22px;
}
header {
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:32px 0;
}

.logo {
  display: flex;
  align-items: left;
  gap: 8px;
}

.logo img {
  width: 61px;
  height: 61px;
  border-radius: 50%;
}

.logo p {
  font-size: 23px;
  font-weight: 400;
  color: #333;
}

.navbar {
  display:flex;
  gap:32px;
  align-items: left;
}

.navbar a {
  text-decoration: none;
  color: #666;
  font-size: 18px;
  transition: 0.3s;
}

.navbar a:hover {
  color: #000;
}
.hero {
  padding: 100px 0;
}
.hero h1 {
  max-width: 900px;
  font-family: Source Serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 60px;
}
.line1 {
  width: 120%;
  height: 1px;
  background: #0034ad;
}
.line2 {
  width: 120%;
  height: 1px;
  background: #ab0782;
}
.line3 {
  width: 120%;
  height: 1px;
  background: #6e660a;
}
.line4 {
  width: 120%;
  height: 1px;
  background: #5f00fd;
}
.line5 {
  width: 120%;
  height: 1px;
  background: #6e660a;
}
.line6 {
  width: 120%;
  height: 1px;
  background: #4f4f4f;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr; /*text left and image right*/
  align-items: center;
  padding: 80px 0;
}
.project-content span {
  display: block;
  margin-bottom: 15px;
}
.project-content h2 {
  /*large project title*/
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 25px;
}
.project-image img {
  width: 100%; /*images align right*/
  max-width: 550px;
  display: block;
  margin-left: auto;
}
.design {
  text-decoration: underline;
  color: #4563ff;
}
.artwork {
  text-decoration: underline;
  color: #ff4fb7;
}
.editorial {
  text-decoration: underline;
  color: #a3a050;
}
.photography {
  text-decoration: underline;
  color: #a04fff;
}
.branding {
  text-decoration: underline;
  color: #4563ff;
}
.project-content {
  color: inherit;
}
.about {
  padding: 120px 0;
}
.about h2 {
  font-size: 3.5rem;
  font-weight: 400;
  max-width: 900px;
  margin-bottom: 40px;
}
.footer {
  padding: 80px 0;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.footer-links a{
  text-decoration: none;
  font-size: 3rem;
}
.footer p {
  font-size: 3.5rem;
  text-align: left;
}
